<p>
  Lists:
  {{#link-to 'list.small'}}Short{{/link-to}} ||
  {{#link-to 'list.big'}}Long{{/link-to}} ||
  {{#link-to 'list.sparse'}}Sparse{{/link-to}} ||
  {{#link-to 'list.empty'}}Empty{{/link-to}}
</p>

<p>
  Grids:
  {{#link-to 'grid.small'}}Short{{/link-to}} ||
  {{#link-to 'grid.big'}}Long{{/link-to}} ||
  {{#link-to 'grid.sparse'}}Sparse{{/link-to}} ||
  {{#link-to 'grid.empty'}}Empty{{/link-to}}
</p>

{{outlet}}
